[Desktop Entry]
Name=Kdenlive
Name[en_GB]=Kdenlive
GenericName=Video Editor
GenericName[en_GB]=Video Editor
Comment=Nonlinear video editor by KDE
Comment[en_GB]=Non-linear video editor by KDE
Type=Application
Exec=kdenlive %F
Icon=kdenlive
StartupWMClass=kdenlive
X-DocPath=kdenlive/index.html
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
Keywords=editing;video;audio;mlt;kde;
Keywords[en_GB]=editing;video;audio;mlt;kde;
X-DBUS-ServiceName=org.kde.kdenlive
X-XFCE-Source=file:///usr/share/applications/org.kde.kdenlive.desktop
